.main {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background: #079bfd;
  border-radius: 0px 150px 0px;
  padding: 20px 80px;
}
.btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}
button {
  padding: 5px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: 5px solid rgb(213, 247, 19);
  border-radius: 999px;
  background: #1f4b7a;
  color: #fff;
}
button:hover {
  box-shadow: rgb(213, 247, 19) 10px 5px 40px 10px;
}
h1 {
  text-align: center;
  background: #1cbbf8;
  border-radius: 0px 150px 0px;
}
.head {
  background: #1cbbf8;
  border-radius: 0px 150px 0px;
}
